@import "sass/mixins";

body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #141414;
    background: white url('../images/bg.jpg') center top no-repeat;
    
    @include breakpoint(mobile) {
        background: white url('../images/bg.jpg') calc(50% - 150px) top no-repeat;
    }
}

* {
    margin: 0;
    padding: 0;
}

.page {
    float: left;
    width: 100%;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Katibeh', cursive;
}

h1 {
    color: #951b81;
    font-size: 47px;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 36px;
    margin-top: 8px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 28px;
    
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 34px;
        height: 5px;
        margin: auto;
        background: #e6007e;
    }
}

h2 {
    font-size: 28px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

h3 {
    font-size: 30px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 19px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        width: 768px;
    }
    
    @include breakpoint(mobile) {
        width: 300px;
    }
}

.top {
    float: left;
    width: 100%;
    z-index: 2;
    position: relative;
    
    .title {
        float: left;
        margin-top: 77px;
        margin-left: 5px;
        
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .sales {
        float: left;
        margin-left: 17px;
        margin-top: -15px;
        
        @include breakpoint(mobile) {
            margin: 0 auto;
            float: none;
            display: table;
        }
    }
}

.info {
    float: left;
    width: 100%;
    z-index: 1;
    position: relative;
    margin-top: -97px;
    
    @include breakpoint(mobile) {
        margin-top: -30px;
    }
    
    .contact {
        position: relative;
        width: 600px;
        float: left;
        background: white;
        padding-bottom: 29px;
        margin-bottom: 39px;
        -webkit-box-shadow: 19px -15px 137px -6px rgba(0,0,0,0.2);
        -moz-box-shadow: 19px -15px 137px -6px rgba(0,0,0,0.2);
        box-shadow: 19px -15px 137px -6px rgba(0,0,0,0.2);
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-bottom: 0px;
        }
        
        &:after {
            content: "";
            position: absolute;
            bottom: -39px;
            left: 0;
            right: 0;
            margin: auto;
            background: url('../images/flags.png') no-repeat;
            width: 312px;
            height: 39px;
            
            @include breakpoint(mobile) {
                display: none;
            }
        }
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            width: 1000%;
            height: 100%;
            z-index: -1;
            
            @include breakpoint(mobile) {
                display: none;
            }
        }
        
        .left {
            float: left;
            width: 300px;
        }
        
        .right {
            float: right;
            width: 300px;
        }
        
        .contact-info {
            float: left;
            width: 85%;
            text-align: center;
            margin-left: 38px;
            margin-bottom: 23px;
            
            @include breakpoint(mobile) {
                margin-left: 0;
                width: 100%;
            }
            
            p {
                margin-top: 9px;
            }
        }
        
        .time {
            float: left;
            width: 100%;
            text-align: center;
            margin-bottom: 19px;
            
            .hours {
                background: #e6007e;
                padding: 4px 10px;
                display: inline-block;
                color: white;
                margin-top: 6px;
            }
        }
        
        .content {
            float: left;
            width: 87%;
            margin-top: 11px;
            
            @include breakpoint(mobile) {
                width: 100%;
            }
        }
    }
    
    .facebook {
        padding-left: 29px;
        background: url('../images/facebook.png') left center no-repeat;
        float: left;
        color: #141414;
        text-decoration: none;
        margin-top: 12px;
        margin-left: 159px;
        
        @include breakpoint(mobile) {
            margin-left: 7px;
        }
    }
}

#map {
    position: relative;
    margin-top: 63px;
    width: 600px;
    height: 350px;
    background: white;
    float: left;
    
    @include breakpoint(mobile) {
        width: 300px;
        height: 300px;
        margin-top: 0px;
    }
}

.footer {
    float: left;
    width: 100%;
    height: 190px;
    background: #951b81;
    margin-top: -132px;
}